# Vim tmp files
*.swp

#for qt
CMakeLists.txt.user
# for cmake
CMakeCache.txt
CMakeFiles
# Makefile  
cmake_install.cmake
install_manifest.txt

# dir
.vs/
out/
#SimulinkCoSimulation/

.vscode/
build/

# file
.editorconfig
.gitattributes
CMakeSettings.json